@{
    ViewBag.Title = "Account_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Angularjs {  
<script src="~/AngularScript/app.js"></script>
<script src="~/AngularScript/Account/AccountService.js"></script>
<script src="~/AngularScript/Account/AccountController.js"></script>

    }
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="fa fa-user">
        Quản lý tài khoản
        @*<small>advanced tables</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#">Quản lý tài khoản</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title fa fa-search"> Tìm kiếm</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Chuỗi tìm kiếm</label>
                            <input type="text" class="form-control" id="" placeholder="Nhập chuỗi tìm kiếm...">
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Loại tài khoản</label>
                            <select class="form-control">
                                <option>Tất cả</option>
                                <option>Administrator</option>
                                <option>Booker</option>
                                <option>User</option>
                                <option>CTV</option>
                                <option>Đại lý</option>
                                <option>Company</option>
                            </select>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Thao tác</label>
                            <div class="row" style="margin-left:0px;">
                                <button type="button" class="btn btn-primary pull-left">
                                    <i class="fa fa-search"></i> Tìm kiếm
                                </button>
                                <button type="button" class="btn btn-success pull-left" data-toggle="modal" data-target="#Add_Account" style="margin-left: 5px;" ng-click="AddAccountDiv()">
                                    <i class="fa fa-plus"></i> Tạo tài khoản
                                </button>
                                <button type="button" class="btn btn-default pull-left" style="margin-left: 5px;">
                                    <i class="fa fa-history"></i> Trở về
                                </button>
                            </div>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


    <div class="modal modal-primary fade" id="Add_Account">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{Action}} tài khoản</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row hidden" ng-model="AccountId"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Tên đăng nhập:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="inputEmail" ng-model="Username">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="col-md-6">
                                <label>Mật khẩu:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="mail" ng-model="Password">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                    </div>
                    <!-- /.form group -->
                    <!-- Date -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Họ và tên:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="mail" ng-model="Fullname">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Giới tính:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-male"></i>
                                    </div>
                                    <select class="form-control pull-right" id="sex">
                                        <option value="0">Nam</option>
                                        <option value="1">Nữ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.form group -->
                    <!-- Date -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Ngày sinh:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="datepicker" ng-model="DateOfBirth">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="col-md-6">
                                <label>Địa chỉ:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="mail" ng-model="Address">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Date -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Điện thoại:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="mail" ng-model="Phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Mail:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="mail" ng-model="Mail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.form group -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nhóm tài khoản:</label>
                                <select class="form-control" ng-model="AccountGroupID">
                                    <option value="0">Administrator</option>
                                    <option value="1">Booker</option>
                                    <option value="2">User</option>
                                    <option value="3">CTV</option>
                                    <option value="4">Đại lý</option>
                                    <option value="5">Company</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Quản lý bởi:</label>
                                <select class="form-control select2" ng-model="ManagedBy" style="width: 100%;">
                                    <option selected="selected" value="0">Admin</option>
                                    <option value="1">Alaska</option>
                                    <option value="2">California</option>
                                    <option value="3">Delaware</option>
                                    <option value="4">Tennessee</option>
                                    <option value="5">Texas</option>
                                    <option value="6">Washington</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputFile">Hình ảnh</label>
                        <input type="file" id="exampleInputFile" ng-model="Image">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" value="Submit" id="Save_Account" data-dismiss="modal" ng-click="AddUpdateAccount()"><i class="fa fa-save"></i> Lưu</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal modal-primary fade" id="Update_Account">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Cập nhật tài khoản</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Tên đăng nhập:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="Username" ng-model="Username">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="col-md-6">
                                <label>Mật khẩu:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="Password" ng-model="Password">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                    </div>
                    <!-- /.form group -->
                    <!-- Date -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Họ và tên:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="mail" ng-model="Fullname">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Giới tính:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-male"></i>
                                    </div>
                                    <input type="text" ng-model="Sex" />
                                    <select class="form-control pull-right" ng-model="Sex">
                                        <option value="0">Nam</option>
                                        <option value="1">Nữ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.form group -->
                    <!-- Date -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Ngày sinh:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="datepicker" ng-model="DateOfBirth">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="col-md-6">
                                <label>Địa chỉ:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="mail" ng-model="Address">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Date -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Điện thoại:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="Phone" ng-model="Phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Mail:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="mail" ng-model="Mail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.form group -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nhóm tài khoản:</label>
                                <select class="form-control" ng-model="AccountGroupID">
                                    <option value="0">Administrator</option>
                                    <option value="1">Booker</option>
                                    <option value="2">User</option>
                                    <option value="3">CTV</option>
                                    <option value="4">Đại lý</option>
                                    <option value="5">Company</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Quản lý bởi:</label>
                                <select class="form-control select2" ng-model="ManagedBy" style="width: 100%;">
                                    <option selected="selected" value="0">Admin</option>
                                    <option value="1">Alaska</option>
                                    <option value="2">California</option>
                                    <option value="3">Delaware</option>
                                    <option value="4">Tennessee</option>
                                    <option value="5">Texas</option>
                                    <option value="6">Washington</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputFile">Hình ảnh</label>
                        <input type="file" id="exampleInputFile" ng-model="Image">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" data-dismiss="modal" value="Submit" id="Add_Account" ng-click="InsertData()"><i class="fa fa-save"></i> Cập nhật</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title fa fa-table"> Danh sách tài khoản</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="account_table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã số</th>
                                <th>Hình ảnh</th>
                                <th>Họ và tên</th>
                                <th>Tên tài khoản</th>
                                <th>Điện thoại</th>
                                <th>Nhóm</th>
                                <th>Quản lý bởi</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="account in accounts">
                                <td><a href="#">{{account.AccountID}}</a></td>
                                <td>{{account.Image}}</td>
                                <td>{{account.Fullname}}</td>
                                <td>{{account.Username}}</td>
                                <td>{{account.Phone}}</td>
                                <td>{{account.AccountGroupID}}</td>
                                <td>{{account.ManagedBy}}</td>
                                <td>{{account.CreatedDate | date :  "dd.MMM.y"}}</td>
                                <td>{{account.Status}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary pull-left btnAdd" data-toggle="modal" data-target="#Add_Account" ng-click="editAccount(account)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger pull-left" ng-click="deleteAccount(account)" style="margin-left: 5px;">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Mã số</th>
                                <th>Hình ảnh</th>
                                <th>Họ và tên</th>
                                <th>Tên tài khoản</th>
                                <th>Điện thoại</th>
                                <th>Nhóm</th>
                                <th>Quản lý bởi</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section script {
    <!-- DataTables -->
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#account_table').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "aoColumns": [
                { sWidth: '7%' },
                { sWidth: '10%' },
                { sWidth: '12%' },
                { sWidth: '15%' },
                { sWidth: '10%' },
                { sWidth: '5%' },
                { sWidth: '10%' },
                { sWidth: '10%' },
                { sWidth: '10%' },
                { sWidth: '10%' }]
            })
        })
    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
              {
                  ranges: {
                      'Today': [moment(), moment()],
                      'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                      'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                      'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                      'This Month': [moment().startOf('month'), moment().endOf('month')],
                      'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                  },
                  startDate: moment().subtract(29, 'days'),
                  endDate: moment()
              },
              function (start, end) {
                  $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
              }
            )

            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            })

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            })
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            })

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })
    </script>

}