
@{
    ViewBag.Title = "Revenue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="fa fa-line-chart">
        Thống kê doanh số
        @*<small>advanced tables</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#">Thống kê</a></li>
        <li><a href="#">Doanh số</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title fa fa-search"> Tìm kiếm</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>*@
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <!-- /.form-group -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Đặt chỗ từ ngày:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="datepicker">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="col-md-6">
                                <label>Đặt chỗ đến ngày:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="datepicker">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Loại tài khoản</label>
                        <select class="form-control">
                            <option>Tất cả</option>
                            <option>Administrator</option>
                            <option>Booker</option>
                            <option>User</option>
                            <option>CTV</option>
                            <option>Đại lý</option>
                            <option>Company</option>
                        </select>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Thao tác</label>
                        <div class="row" style="margin-left:0px;">
                            <button type="button" class="btn btn-primary pull-left">
                                <i class="fa fa-search"></i> Tìm kiếm
                            </button>
                            <button type="button" class="btn btn-primary pull-left" style="margin-left: 5px;">
                                <i class="fa fa-download"></i> Xuất Excel
                            </button>
                            <button type="button" class="btn btn-default pull-left" style="margin-left: 5px;">
                                <i class="fa fa-history"></i> Trở về
                            </button>
                        </div>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title fa fa-table"> Danh sách tài khoản</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="Analytics_Revenue" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Ngày xuất vé</th>
                                <th>Hành khách</th>
                                <th>Hãng 1</th>
                                <th>Hãng 2</th>
                                <th>Hành trình</th>
                                <th>Số lượng</th>
                                <th>Code vé</th>
                                <th>Ngày đi</th>
                                <th>Ngày về</th>
                                <th>Giá gốc</th>
                                <th>Giá bán</th>
                                <th>Lợi nhuận</th>
                                <th>Người xuất vé</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>Tuấn</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>abc</td>
                                <td>Ms Thanh Huong</td>
                                <td>A01.APUTRAVEL</td>
                                <td>01258585874</td>
                                <td>CTV</td>
                                <td>admin</td>
                                <td>22/11/2017</td>
                                <td>Đã kích hoạt</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                                <td>123</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Ngày xuất vé</th>
                                <th>Hành khách</th>
                                <th>Hãng 1</th>
                                <th>Hãng 2</th>
                                <th>Hành trình</th>
                                <th>Số lượng</th>
                                <th>Code vé</th>
                                <th>Ngày đi</th>
                                <th>Ngày về</th>
                                <th>Giá gốc</th>
                                <th>Giá bán</th>
                                <th>Lợi nhuận</th>
                                <th>Người xuất vé</th>
                                <th>Ghi chú</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section script {
    <!-- DataTables -->
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#Analytics_Revenue').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "aoColumns": [
                { sWidth: '5%' },
                { sWidth: '10%' },
                { sWidth: '10%' },
                { sWidth: '5%' },
                { sWidth: '5%' },
                { sWidth: '5%' },
                { sWidth: '5%' },
                { sWidth: '5%' },
                { sWidth: '5%' },
                { sWidth: '5%' },
                { sWidth: '5%' },
                { sWidth: '10%' },
                { sWidth: '10%' },
                { sWidth: '10%' },
                { sWidth: '10%' }]
            })
        })
    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
              {
                  ranges: {
                      'Today': [moment(), moment()],
                      'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                      'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                      'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                      'This Month': [moment().startOf('month'), moment().endOf('month')],
                      'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                  },
                  startDate: moment().subtract(29, 'days'),
                  endDate: moment()
              },
              function (start, end) {
                  $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
              }
            )

            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            })

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            })
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            })

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            })
        })
    </script>
}

